@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './style/signup.scss';
@import './style/login.scss';
@import './style/dashboard.scss';
@import './style/addTodo.scss';
@import './style/editTodo.scss';
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
body,
#root {
  min-height: 100%;
  background-color: #0f172a;
}