* {
  box-sizing: border-box;
}
* {
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  background: var(--bg-base);
  color: var(--text-secondary);

  transition:
    background 0.3s ease,
    color 0.25s ease;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
select,
button {
  font-family: inherit;
  background: transparent;
}


